extends base/layout


block otherhead



block content

  header.inner-page
    .container
      .padding
        .spacer-20
        h1.raleway MeetHub
        .spacer-100
      
  #main.inner-page
    .container

      .pure-g
        .pure-u-lg-1-4.pure-u-1.sidebar
          .padding
            h5
              span.text
                | i nostri corsi
              span.line
            ul
              li.link-scroll(data-where-to='course-#1')
                | App mobile: cosa sono e quando serve utilizzarne una

        .pure-u-lg-3-4.pure-u-1
          .single-course(id='course-#1')
            .padding
              h2
                span.title.text-azure
                  | App mobile: cosa sono e quando serve utilizzarne una
                span.infos 
                  | 3 lezioni
                  span.text-azure  // 
                  | 300,00&euro;
              div
                | Praesent volutpat eget dui et euismod. Sed hendrerit sed nulla vel scelerisque. Proin purus arcu, rhoncus nec sodales elementum, porttitor sit amet lorem. Nunc posuere porta porttitor. Aenean facilisis, nisi nec tempus pellentesque, ipsum erat interdum lectus, a pharetra justo metus non tellus. Donec commodo libero id tincidunt venenatis. Suspendisse consequat tempus urna eget bibendum. Maecenas in dignissim nulla, nec auctor sem. Donec fermentum sem sit amet vulputate scelerisque. Donec commodo, dui eget commodo sagittis, mi felis suscipit orci, at vehicula turpis dui et tortor. Cras fermentum lectus in ligula suscipit ornare. Ut eget lacinia velit. Nam mattis massa malesuada vehicula tempor
                .more
                  .text
                    .spacer-20
                    :markdown

                      ###PROGRAMMA DEL CORSO###

                      ####Introduzione####
                      - Obiettivi del corso
                      - Qualche numero del mercato

                      ####Cosa è una app?####
                      - Storia
                      - Caratteristiche principali
                      - Perché sono fighe
                      - Perché si sono diffuse

                      ####Quando ha senso usarla - use cases####
                      - Qualche caso “positivo”
                      - Qualche caso “fallimentare”
                      - La strategia che deve accompagnare un’app (non farle a caso…)

                      ####Differenza tra nativa e web-based####

                      ####Piattaforme (Android/iOS/Windows) differenze e da dove conviene partire (3 lezione)####


                      ####Spiegazione interna####
                      Il corso ha lo scopo di:
                      - introdurre persone non tecniche al mondo delle app
                      - spiegare le caratteristiche principali di questa tipologia di applicazione
                      - dare strumenti per valutare quali tra le possibilità che la tecnologia ci offre conviene usare nei diversi contesti


                    .spacer-20

                p.read-more.text-right leggi il programma

              h4
                | Iscriviti
              form.pure-form(action='https://www.youform.me/api/form/63961299-5f0a-4c0a-bff9-19f17ed728db', method='POST')
                fieldset
                  input#email-sub(name='email-sub', type='email', placeholder='Il tuo indirizzo e-mail', required)
                  input#course(name='course', type='hidden', value='App mobile: cosa sono e quando serve utilizzarne una')
                  button.pure-button.pure-button-primary(type='submit')
                    span Iscriviti

          .spacer-60



block scripts