extends base/layout


block otherhead



block content

  header.inner-page
    .container
      .padding
        .spacer-20
        h1.raleway MeetHub
        .spacer-100
      
  #main.inner-page
    .container

      .pure-g
        .pure-u-lg-1-4.pure-u-1.sidebar
          .padding
            h5
              span.text
                | i nostri corsi
              span.line
            ul
              - for (var i = 0; i < 2; i++)
                li.link-scroll(data-where-to='course-#{i}')
                  | corso #{i}

        .pure-u-lg-3-4.pure-u-1

          - for (var i = 0; i < 2; i++)
            .single-course(id='course-#{i}')
              .padding
                h2
                  span.title.text-azure course title abbastanza lungo
                  span.infos 
                    | beginner
                    span.text-azure  // 
                    | 4 lessons
                    span.text-azure  // 
                    | marketing, web
                p
                  :markdown
                    Praesent volutpat eget dui et euismod. Sed hendrerit sed nulla vel scelerisque. Proin purus arcu, rhoncus nec sodales elementum, porttitor sit amet lorem. Nunc posuere porta porttitor. Aenean facilisis, nisi nec tempus pellentesque, ipsum erat interdum lectus, a pharetra justo metus non tellus. Donec commodo libero id tincidunt venenatis. Suspendisse consequat tempus urna eget bibendum. Maecenas in dignissim nulla, nec auctor sem. Donec fermentum sem sit amet vulputate scelerisque. Donec commodo, dui eget commodo sagittis, mi felis suscipit orci, at vehicula turpis dui et tortor. Cras fermentum lectus in ligula suscipit ornare. Ut eget lacinia velit. Nam mattis massa malesuada vehicula tempor.

            .spacer-60



block scripts