extends base/layout


block otherhead



block content

  header.inner-page
    .container
      .padding
        .spacer-20
        h1.raleway
          a(href='/') 
            img(src='static/img/mh-logo.png', alt='MeetHub')
            span
              | MeetHub
        .spacer-100
      
  #main.inner-page
    .container

      .pure-g
        .pure-u-lg-1-4.pure-u-1.sidebar
          .padding
            h5
              span.text
                | i nostri corsi
              span.line
            ul
              li.link-scroll(data-where-to='course-#1')
                | App mobile: cosa sono e quando serve utilizzarne una

        .pure-u-lg-3-4.pure-u-1
          .single-course(id='course-#1')
            .padding
              h2
                span.title.text-azure
                  | App mobile: cosa sono e quando serve utilizzarne una
                span.infos 
                  | 3 lezioni
                  span.text-azure  // 
                  | &euro; 300,00
              p
                i Hai un progetto Digital da far partire, ma non sei uno sviluppatore? <br />
                | Il primo passo è conoscere gli strumenti per valutare le possibilità che la tecnologia offre e quali conviene utilizzare nei diversi contesti.
              p
                i Web o Mobile?<br />
                | L'obiettivo del corso è quello di far comprendere i vantaggi e gli svantaggi dell’utilizzo dell’una o dell’altra tecnologia, i passi dietro il loro sviluppo e le fasi di intervento degli investitori.
                .more
                  .text
                    .spacer-20
                    :markdown

                      ###PROGRAMMA DEL CORSO###

                      ####Introduzione####
                      - Obiettivi del corso
                      - Qualche numero del mercato

                      ####Cosa è una app?####
                      - Storia
                      - Caratteristiche principali
                      - Perché si sono diffuse

                      ####Case histories####
                      - Casi di successo
                      - Casi fallimentari
                      - Quali sono le strategie che accompagnano la creazione di una app?

                      ####Approfondimenti####
                      - Quale tipologia di app mi conviene usare? Nativa o web-based?
                      - Piattaforme principali (Android/iOS/Windows), differenze e da dove conviene iniziare

                      <div class="spacer-20"></div>

                      ###LEZIONI###

                      Il corso sarà suddiviso in tre lezioni da due ore ciascuna:

                      - 3 Luglio 2014, ore 18.00 - 20.00
                      - 10 Luglio 2014, ore 18.00 - 20.00
                      - 17 Luglio 2014, ore 18.00 - 20.00

                      Le lezioni si svolgeranno in una location milanese in fase di definizione.

                      <div class="spacer-20"></div>

                      ###COSTO###

                      Il costo del corso è di € 300,00.  
                      I partecipanti avranno diritto a sconti sui futuri corsi di MeetHub!

                      <div class="spacer-20"></div>

                    h3
                      | TRAINER
                    .trainer-list
                      ul
                        li
                          span.pic
                            img(src='static/img/team/andrea.jpg')
                          | Andrea Speziale
                        li
                          span.pic
                            img(src='static/img/team/mauro.jpg')
                          | Mauro Bolis
                        //-li
                          | Alessandro Zocca




                p.text-right 
                  span.read-more
                    | leggi il programma

              h4
                | Iscriviti subito!
              form.pure-form(action='https://www.youform.me/api/form/63961299-5f0a-4c0a-bff9-19f17ed728db', method='POST')
                fieldset
                  input#email-sub(name='email-sub', type='email', placeholder='Il tuo indirizzo e-mail', required)
                  | &nbsp;
                  input#course(name='course', type='hidden', value='App mobile: cosa sono e quando serve utilizzarne una')
                  button.pure-button.pure-button-primary(type='submit')
                    span Invia

          .spacer-60


          .single-course(id='course-#2')
            .padding
              h2.grey
                | Prossimi corsi in arrivo!
              p.text-center.next
                a(href='/#contacts') Iscriviti alla nostra newsletter per restare aggiornato!


block scripts