extends layout

block title
  | Meethub. Meet, Share, Build. Change

//-block links

block app
  .container
    .background
    .blur 
    .page
      .imagine(data-0="opacity:1", data-200="opacity: 0; margin-left: 30px")
        h4 Imagine a place...

    .page.text-center
      .where
        h3 Where you can

      .what
        h4 Meet great people

    .page.text-center
      .where
        h3 Where you can

      .what
        h4 Share your knowledge

    .page.text-center
      .where
        h3 Where you can

      .what
        h4 Build something awesome


    .page.text-center
      .form
        h4 This place exists
        h3 Meethub, keep in touch


block scripts
  script(type='text/javascript', src='/static/js/vendor/jquery.min.js')
  script(type='text/javascript', src='/static/js/vendor/skrollr.min.js')
  script(type='text/javascript', src='/static/js/main.js')
